body {
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
    background-color: #8a71c9;
    color: #fff;
}

.main-section {
    max-width: 60%;
}

.subtitle {
    color: #2a0074;
}

.green-title {
    color: #05ff9f;
}

.red-title {
    color: #FF9E9E;
}

.yellow-title {
    color: #ffe36d;
}