body {
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
    background-color: #8a71c9;
    color: #fff;
    margin: 0;
}
.main-header {
    margin-top: 3.5em;
    margin-bottom: 4.5em;
}

.main-title {
    font-size: 3rem;
    font-weight: 300;
}

.menu {
    background-color:  #df5fff;
    border-radius: 5px;
    max-width: 60%;
    margin: auto;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 4px 0;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

.main-section {
    max-width: 60%;
    margin: 0 auto;
}

.subtitle {
    color: #2a0074;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 0;
}

img {
    width: 100%;
}

h3 {
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 2em;
}

.green-title {
    color: #05ff9f;
}

.red-title {
    color: #FF9E9E;
}

.yellow-title {
    color: #ffe36d;
}

.divas-list {
    list-style-type: none;
    line-height: 2; 
    padding-left: 0;
    margin-bottom: 3em;
}

.link {
    color: #99ffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.15rem;
}

.link:hover {
    color: #04cece;
}

form {
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: #2b007488;
    max-width: 60%;
    margin: 0 auto 30px auto;
    border-radius: 5px;
}

legend {
    font-size: 1.15rem;
    font-style: italic;
    margin-bottom: 1em;
}

.wrap-name {
    margin-bottom: 1em;
}
.wrap-email {
    margin-bottom: 1.5em;
}

label {
    font-weight: 700;
}

input {
    border-radius: 3px;
    border: none;
    padding: 3px;
    font-size: 1rem;
}

button{
    background: #fd7cbd;
    border: none;
    padding: 4px 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    
   }

button:hover {
    transform: scale(1.06);
    transition-delay: 10ms;
    cursor: pointer;
}